EXPO_PUBLIC_API_URL=http://10.0.2.2:4000/api
EXPO_PUBLIC_PRIVACY_URL=
EXPO_PUBLIC_TERMS_URL=
APP_VARIANT=development
EAS_PROJECT_ID=
ANDROID_APPLICATION_ID=com.movo.app
IOS_BUNDLE_IDENTIFIER=com.movo.app
